DHUPassword: DHUPassword
DHUUsername: DHUUsername
appid: appid
moderation_rules:
  default_message_rules:
    channel_list: []
    channel_whitelist: true
    enabled: true
    exact_match: false
    group_list:
    - '2'
    - '4'
    - '5'
    - '7'
    group_whitelist: true
    mute: 600
    regex: false
    reminder_channel: '527350560'
    reminder_text: Äã·¢ËÍµÄÏûÏ¢°üº¬ÆÁ±Î´Ê¡£
    remove: false
    remove_and_ban: false
    remove_and_revoke: 1
    revoke: true
  default_username_rules:
    enabled: true
    exact_match: false
    group_list:
    - '2'
    - '4'
    - '5'
    - '7'
    group_whitelist: true
    mute: 600
    regex: false
    reminder_channel: '527350560'
    reminder_text: ÄãµÄêÇ³Æ°üº¬ÆÁ±Î´Ê£¬ÇëĞŞ¸Ä¡£
    remove: false
    remove_and_ban: false
    remove_and_revoke: 1
    revoke: true
token: token
workChannel: workChannel
